# List
* It is a built in data structure used to store a collection of items. it can hole element of different data types

* it is a data type where you can store multiple items under 1 name list act like dynamic arrays which means you can add more items on fly


## Array Vs Lists
- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous -> instance of storing value it store reference of address of value
- Speed of Execution
- Memory

In [ ]:
a = 2
b = 's'
l = [1,2,3,'s']

print(id(l[0]))
print(id(l[1]))
print(id(l[2]))
print(id(l[3]))
print(id(b))
print(id(2))

#Characterstics of list

* Ordered
* Changeble/Mutable
* Hetrogeneous
* Can have duplicates
* are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python

In [ ]:
l = [1,2,3]
l2 = [3,2,1]
l==l2
# order matter in list

## Creating List

In [ ]:
# empty list
print([])
# 1d
print([1])
# 2d
print([[1],[2]])
# 3d
print([[[1,2],[3,4]],[[5,6],[7,8]]])

##Adding ittems to a List

In [ ]:
# append() method add only one element at a time in a list
l = [1,2,3]
l.append(4)
print(l)

In [ ]:
# extend() thid method add multiple values at a time in list
l = [1,2,3]
l.extend([4,5,6])
print(l)

In [ ]:
# insert() this method add a value on the desire position by providing index possition
l = [1,2,3]
l.insert(0,11)
print(l)

##Editing items in a List

In [ ]:
l = [1,2,3,4,5]
# editing by indexing
l[-1] = 6
print(l)

# editing by slicing
l[2:-1] = 300,400,500
print(l)

## Deleting items in List

In [ ]:
# del

l= [1,2,3,4,5]
print(l)
del l
print(l)

In [ ]:
l= [1,2,3,4,5]
# deleting last element in list
del l[-1]
print(l)

In [ ]:
l= [1,2,3,4,5]
# deleting by slicing

del l[1:4]
print(l)

Remove()
* it is method of list datatype
* it remove items by value
* it is used to  remove the 1st occurrence of specified value from the list

In [ ]:
# remove()
l= [1,2,3,4,5]
# removing element 5 by providing value
l.remove(5)
print(l)

pop()
* pop method in Python is used to remove and return an element from a specific position in a list

In [ ]:
# pop
l= [1,2,3,4,5]
x = l.pop(0)
print(x)
print(l)

## Operation in List
  - Arithmetic
  - Membership
  - Loop

In [ ]:
# Arithmetic(+,*)
l1 = [1,2,3]
l2 = [4,5,6]

# merge

print(l1+l2)

In [ ]:
# multiply
print(l1*3)

Membership

In [ ]:
l1 = [1,2,3,4,5]
l2 =[1,2,3,4,[5,6]]

print(5 in l1)

print(5 in l2)

loops

In [ ]:
l1 = [1,2,3,4,5]
l2 =[1,2,3,4,[5,6]]

for i in l2:
  print(i)

## List function

In [ ]:
# universal function
l=[2,1,5,7,0]
print(len(l))
print(min(l))
print(max(l))
print(sorted(l,reverse = True))

count()
- it is a method of the list data type.
- it is used to count thr number of occurrences of a specified valuue in a list

In [ ]:
# count()
l = [1,2,3,4,5,3,4,5,3,3,3]
l.count(3)

index()
- it is a method of list data type
- it is used to find the index of the first occurrence specified value

In [ ]:
l = [1,2,3,4,5,3,4,5,3,3,3]
l.index(3)

reverse()
- it is a method of list
- it is used to reverse the order of element in a list
- it change the original list

In [ ]:
l = [1,2,3,4,5,3,4,5,3,3,3]
l.reverse()
print(l)

sort() Vs sorted()

-

In [ ]:
l = [4,6,7,2,8]

print(l)
print(sorted(l))
print(l)
l.sort() # it is a permanent sort the list
print(l)

In [ ]:
# copy -> shallow in new address it create the new list
l = [2,5,3,7,6]
print(l)
print(id(l))
l1= l.copy()
print(l1)
print(id(l1))

## List Comprehension
newlist = [expression for items in iterable if condition == True]

In [ ]:
[i for i in range(1,11)]

In [ ]:
# scalar multiplication of vector
[i*-3 for i in range(1,11)]

In [ ]:
[i**2 for i in range(1,6)]

In [ ]:
# print all the number dividible by 5 in the range of 1 to 50
[i for i in range(1,51) if i %5==0]

In [ ]:
# find languages which start with letter p
lang = ['java','python','php','c','javascript']

[i for i in lang if i.startswith('p')]

In [ ]:
# nested if with list comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

[i for i in basket if i in my_fruits  if i.startswith('a')]

In [ ]:
# print a (3,3) matrix using list comprehension -> nested list comprehension

[[i*j for i in range(1,6)] for j in range(1,6)]

In [ ]:
# cartesian product -> comprehension on 2 list together

l1=[1,2,3,4]
l2=[5,6,7,8]

[i * j for i in l1 for j in l2 ]

## 2 way to traverse a list
- itemwise
- indexwise

In [ ]:
# itemwise
l = [1,2,3,4]

for i in l:
  print(i)

In [ ]:
# indexwise
l = [1,2,3,4]

for i in range(0,len(l)):
  print(i)

In [ ]:
l = [1,2,3,4,5]
l2 = [5,4,3,2,1]
list(zip(l,l2))

[i+j for i,j in zip(l,l2) ]